<html>
    <head>
        <meta charset="UTF-8">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
        <title> My First Page</title>
    </head>
    <body class="root">        
        <div class="content-box-profile">
            <div class="text-field">
                <div class="choosen-patient ">
                    Данные профиля
                </div>
                <label class="text-field__label" for="firstName">Имя</label>
                <input 
                class="text-field__input"
                type="text" name="firstName"
                id="firstName" placeholder="Имя"
                value=""
                >
                <label class="text-field__label" for="secondName">Фамилия</label>
                <input 
                class="text-field__input"
                type="text" name="secondName"
                id="secondName" placeholder="Фамилия"
                >
                <label class="text-field__label" for="birth_date">Дата рождения</label>
                <input 
                class="text-field__input"
                type="text" name="birth_date"
                id="birth_date" placeholder="Дата рождения"
                >
                <label class="text-field__label" for="polis">Номер полиса страхования</label>
                <input 
                class="text-field__input"
                type="text" name="polis"
                id="polis" placeholder="Номер полиса страхования"
                >
                <label class="text-field__label" for="phone">Телефон</label>
                <input 
                class="text-field__input"
                type="text" name="phone"
                id="phone" placeholder="Телефон"
                >
            </div>                  
        </div>        
    </body>
</html>